/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff7b7b;
  color: white;
}

.YesButton {
  background-color: #ff9a9a;
}

.NoButton {
  background-color: #9b59b6;
  color: white;
}

.YesButton:hover {
  background-color: #ff6161;
}

.NoButton:hover {
  background-color: #732d91;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Abstand zwischen den Buttons und dem GIF */
}

.gif-container {
  margin-top: 20px;
}
